
.flexcontainer {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color:yellow;
}

.body {
  border: 1px solid #555;
  /* section for old browsers */
  min-width: 500px;
  max-width: 500px;
}

.entryForm {
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: green;
}

.entryForm b {
  align-items: flex-start;
}

.entryForm input[type="text"] {
  align-items: flex-end;
}

.entryForm input[type="submit"] {
  background-color: red;
  align-items: center;
}
